name: generate images

on:
 push:
   branches: ["main"]

jobs:
  thumGen:
    environment: main
    runs-on: ubuntu-latest
    container: juancolchete/thumbgenbuild:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Process videos
        shell: bash
        id: processVideos
        run: pwd && cp OpenSans-ExtraBold.ttf /usr/local/share/fonts/OpenSans-ExtraBold.ttf && bash processVideos.sh ${{ secrets.YOUTUBE_CLIENT_SECRET }} ${{ secrets.YOUTUBE_REFRESH_TOKEN }} ${{ secrets.YOUTUBE_CLIENT_ID }} ${{ vars.FORCE_RUN }}
      - uses: actions/upload-artifact@v4
        with:
         name: thumbs
         path: out/thumbs
      - uses: actions/upload-artifact@v4
        with:
         name: titles
         path: out/titles
      - name: Upload to git
        id: uploadGit
        shell: bash
        run: |
          if [[ `git status --porcelain` ]]; then
            git config --global --add safe.directory /__w/thumbGen/thumbGen
            git config --global user.name "juancolchete"
            git config --global user.email "juancolchete@gmail.com"
            git add . 
            git commit -m "chore: add title ${{github.event.head_commit.message}}"
            git push
          else
            echo "no changes to push"
          fi
